{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="{% static 'images/slack.ico' %}" />
	<title>general|Slack </title>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" type="text/css" href="{% static 'css/invite.css'%}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
	<div class="container-fluid">
		<div class="row" id="headborder"></div>
		<div class="row" id="escsection">
			<div class="col-md-11"></div>
			<div class="col-md-1"><a href=""> <span aria-hidden="true" id="escicon">&times;</span></i><span class="esc"> esc</span></a></div>
		</div>
		<div class="row" id="headinvite">
			<div class="col-md-5 mr-auto ml-auto">
				<div class="msginvite">
					<center>
						<i class="fas fa-user-plus"></i>
						Workspaces with paid plans can also invite <b>guests</b> like contractors, vendors, or clients.
						<a href="">See pricing plans</a>
					</center>
				</div>
				<h1 id="admin_invites_header" class="light align_center">
					<i class="far fa-paper-plane" id="papericon"></i>
					<div>
						<span class="member">Invite Members to <span class="name_project">hustler_ceo</span></span>
					</div>
				</h1>
				<div class="row" id="user_email_invite">
					<div class="col-md-4 mr-auto ml-auto">
						<label class="email full_width">
							Email Address<br>
						</label>
					</div>
					<div class="col-md-5 m-auto ml-auto">
						<label class="email full_width">
							Full Name (optional)<br>
						</label>
					</div>
				</div>
				<div class="row">
					<form>
						<div class="form-row">
							<div class="col">
								<input type="text" class="form-control" placeholder="name@example.com">
							</div>
							<div class="col">
								<input type="text" class="form-control" placeholder="Optional">
							</div>
							<span aria-hidden="true" id="crossicon">&times;</span>
						</div>
						<div class="form-row">
							<div class="col">
								<input type="text" class="form-control" placeholder="name@example.com">
							</div>
							<div class="col">
								<input type="text" class="form-control" placeholder="Optional">
							</div>
							<span aria-hidden="true" id="crossicon">&times;</span>
						</div>
						<div class="form-row">
							<div class="col">
								<input type="text" class="form-control" placeholder="name@example.com">
							</div>
							<div class="col">
								<input type="text" class="form-control" placeholder="Optional">
							</div>
							<span aria-hidden="true" id="crossicon">&times;</span>
						</div>
						<div class="form-row">
							<div class="col" id="addInvite">
								<a href=""><i class="fas fa-plus-circle"></i> </a>
								<a href="">Add another</a> or <a href="">add many at once</a>
							</div>
						</div>
						<div class="form-row">
							<div class="col" id="default">
								<label class="email full_width">
									<b>Default Channels</b><br>
								</label>
							</div>
						</div>
						<div class="form-row">
							<div class="col" id="default">
								<label class="email full_width">
									New <b>members</b> will automatically join <b>general, website, </b>and <b>random</b><u>  <a href=""> Edit</a> / <a href="">Add</a></u>
								</label>
							</div>
						</div>
						<div class="form-row">
							<div class="col" id="default" style="border-bottom: 1px solid grey">
								<label class="email full_width">
									<i class="fas fa-link"></i>
									<a href="">Share invite Link</a>
									<button id="invite_btn" type="submit" class="btn btn-success" data-style="expand-right">
    							    <span class="invite1"><b>Send Invitations</b></span>
    							</button>
								</label>
							</div>
						</div>
						<div class="form-row">
							<div class="col" id="default">
								<label class="email full_width">
									<u><a href=""> See pending and accepted invites</a></u>
								</label>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>