#top{
	height: 48px;
}
#subhead{
	margin-right: -90%;
}
#logo{
	height: 250px;
}
a:hover {
  text-decoration: none;
}
img{
	height: 40px;
	width: 40px;
}
span{
	height: 48px;
	padding: 10px;
	font-size: 13px/27px;
	font-family:  Roboto,RobotoDraft,Arial,sans-serif;
	
}
#logo img{
    height: 92px;
    left: calc(50% - 272px/2);
    position: absolute;
    width: 272px;
    margin-top: 7%;
}
#search{
	border-radius: 25px;
    border: 1px solid;
    padding: 20px; 
    width: 50%;
    height: 15px; 
    margin-left: 35%;
    margin-right: 35%;
    position: relative;
}
#searchbox button{
	border: none;
	color: blue;
	margin-left: 63%;
	position: absolute;
	text-decoration: none;
}

